@model JogadorPessoa

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "ContinuarJogo";
}

<h2>Continuar</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <span>ID jogo: </span>
            </th>
            <th>
                <span>Jogador 1: </span>
            </th>
            <th>
                <span>Jogador 2: </span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Jogos)
        {
            @if (item.Tabuleiro.Vencedor() != 0 || (!item.Jogador2Id.HasValue))
            {
                break;
            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @Html.DisplayFor(modelItem => item.Jogador1.Nome)
                    }
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @Html.DisplayFor(modelItem => item.Jogador2.Nome)
                    }

                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-area="" asp-controller="Jogo"
                           asp-action="Tabuleiro"
                           asp-route-id="@item.Id">Jogar</a>
                    }
                </td>
            </tr>
        }
        </tbody>
</table>




